<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<body>

<form action="/signup" method="post">
    <label for="title">Title:  <input type="text" name="title" id="title"> </label>
    <br>
    <label for="password">Password:  <input type="password" name="password" id="password"> </label>
    <br>
    <label for="firstName">First Name:  <input type="text" name="firstName" id="firstName"> </label>
    <br>
    <label for="lastName">Title:  <input type="text" name="lastName" id="lastName"> </label>
    <br>
    <label for="dob">Title:  <input type="text" name="dob" id="dob"> </label>
    <br>
    <label for="bio">Title:  <input type="text" name="bio" id="bio"> </label>
    <br>
</form>



</body>
</html>