<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h2 sec:authentication="name"></h2>

<h1>
    Following:
</h1>
<div class="row">

    <div th:each="user:${userForOwner.usersIFollow}" class="card" style="width: 18rem;margin: 10px;">
        <h5 class="card-title"><a th:href="${'/users/' + user.id}">[[${user.username}]]</a></h5>
        <img class="card-img-top" th:src="@{/img/profile_avatar_icon.png}" alt="Card image cap">
        <div class="card-body">
            <!--            <h5 th:text="${user.username}" class="card-title"></h5>-->
            <p th:text="${user.bio}" class="card-text"></p>
            <!--            <a th:href="${'/users/'+user.getId}" class="btn btn-primary">show user</a>-->
        </div>
    </div>
</div>

</body>
</html>